﻿@{
    ViewBag.Title = "CarFlex - Contacto";
    ViewBag.Active8 = "active";
    ReCaptcha.PublicKey = "6LcVs_sSAAAAAHASvD2yNS1R0RRdi4Fluz1PXCnL";
}


    <!--..::::::::::::::::::::================ INICIO CONTACTO ================::::::::::::::::::::..-->
    <section id="CONTACTO">
        <div class="container">
            <div class="row margenTop">
                <div class="col-md-6 col-sm-4 col-xs-4">
					<ol class="breadcrumb">
					  <li><a href="./">Inicio</a></li>
					  <li class="active">Contacto</li>
					</ol>
				</div>
				<div class="col-md-6 col-sm-8 col-xs-8 text-right">
					<div class="contacto-social text-right" style="display: inline-block;">
                        <div style="width: 70px;float:left">
                            <div id="plusone-div" class="g-plusone" data-size="medium" ></div>
                        </div>
                        <div style="width: 90px;float:left">
                            <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                        </div>
                        <div style="width: 90px;float:left;margin-right:65px;">
                            <div id="fb-root"></div>
                            <div class="fb-like" data-layout="button" data-send="true"></div>
                        </div>
                        <!--<g:plusone size="medium"></g:plusone>
                        <ul class="redes-sociales">
                            <li><a href="#" class="fa fa-facebook" title="Facebook"></a></li>
                            <li><a href="#" class="fa fa-linkedin" title="Email"></a></li>
                            <li><a href="#" class="fa fa-twitter" title="Twitter"></a></li>
                            <li><a href="#" class="fa fa-envelope" title="Email"></a></li>
                        </ul>-->
                    </div>
				</div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-9">
                    <div class="row modo-Contacto">
                        <div class="col-md-6">
                            <div class="media">
                                <img src="images/icon-Ventas.jpg" class="pull-left" alt="imagen">
                                <div class="media-body">
                                    <h4 class="media-heading">Ventas</h4>
                                    <p>800 Inteligente, te enruta a nuestra oficina más sercana.</p>
                                    <h5><a href="tel:+52018002273539">01-800-CARFLEX</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <img src="images/iconServicio-clientes.jpg" class="pull-left" alt="imagen">
                                <div class="media-body">
                                    <h4 class="media-heading">Servicio a clientes</h4>
                                    <p>800 Inteligente, te enruta a nuestra oficina más sercana.</p>
                                    <h5><a href="tel:+52018009113539">01-800-911-FLEX</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center title-rowContactanos">
                            <h1>Contáctanos</h1>
                            <p>Dejanos saber qué piensas sobre nuestro servicio, estamos para servirte, llámanos, envíanos un correo o llena la siguiente forma y nos comunicaremos contigo lo más pronto posible.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <ul class="nav menu-Modo-Contacto">
                                <li class="active"><a href="#" id="btnSugerencia">SUGERENCIA/COMENTARIO</a></li>
                                <li><a href="#" id="btnExperiencia">EXPERIENCIA</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row form-contacto">
                        <div class="col-md-12">
                            @using (Ajax.BeginForm("EnvioFormulario", "Contacto", new AjaxOptions { HttpMethod = "POST" },
                                new { @id = "datosSugerencia", @class = "form-horizontal formSugerenciaExp" }))
                            {
                            <!--<form class="form-horizontal formSugerenciaExp" id="datosSugerencia" method="Post">-->
                                <input type="hidden" name="aviso" class="tipo_Envio" value="sug"/>
                                <div class="form-group">
                                    <div class="col-md-6 addLabel01-ie">
                                        <input type="text" class="form-control" name="Nombre" placeholder="Nombre">
                                    </div>
                                    <div class="col-md-6 addLabel02-ie">
                                        <input type="text" class="form-control"  name="Ciudad" placeholder="Ciudad de donde nos contacta">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 addLabel03-ie">
                                        <input type="text" class="form-control" name="Apellido1" placeholder="Apellido paterno">
                                    </div>
                                    <div class="col-md-6 addLabel04-ie agregar-Select">
                                        <select class="form-control" name="oficinaVisito" id="oficinaVisito">
                                            
                                        </select>
                                        <select class="form-control" name="oficinaOrigeninconv" id="oficinaOrigeninconv">

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 addLabel05-ie">
                                        <input type="text" class="form-control" name="Apellido2" placeholder="Apellido materno">
                                    </div>
                                    <div class="col-md-6 addLabel06-ie">
                                        <select class="form-control" name="tipoAsuntoE" id="asuntoExperiencia">

                                        </select>
                                        <select class="form-control" name="tipoAsuntoS" id="asuntoSugerencia">

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-3 addLabel07-ie" style="padding-right: 0px;">
                                                <input type="text" class="form-control" name="Lada" placeholder="(999)">
                                            </div>
                                            <div class="col-md-3 addLabel08-ie" style="padding-right: 0px;">
                                                <input type="text" class="form-control" name="Phone" placeholder="999-9999">
                                            </div>
                                            <div class="col-md-6 addLabel09-ie">
                                                <select class="form-control" name="tipoTelefono">
                                                    <option value="">Tipo de Teléfono</option>
                                                    <option value="Casa">Casa</option>
                                                    <option value="Oficina">Oficina</option>
                                                    <option value="Movil">Movil</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-12 addLabel10-ie">
                                                <input type="text" class="form-control" name="Email" placeholder="Email" id="Email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 addLabel11-ie">
                                        <textarea rows="4" class="form-control" name="Direccion" placeholder="Dirección"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 addLabel12-ie">
                                        <input type="text" class="form-control" name="EmailConfirm" placeholder="Confirmar Email">
                                    </div>
                                    <div class="col-md-6">
                                        @ReCaptcha.GetHtml(theme: "red")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        
                                    </div>
                                    <div class="col-md-6">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="Agree" value="Agree">Acepto la <a data-toggle="modal" data-target="#modalPolitica-Privacidad">política de privacidad</a>.
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        <input type="submit" class="btn btn-primary" value="Enviar">
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
                <aside class="col-md-3 col-xs-12 sidebar-list">
					<p><img src="images/imgBanner-sidebar-01.jpg" class="img-responsive img-thumbnail" alt="..."></p>
					<p style="margin-top: 20px;"><img src="images/imgBanner-sidebar-02.jpg" class="img-responsive img-thumbnail" alt="..."></p>
                    <p style="margin-top: 20px;"><img src="images/imgBanner-sidebar-01.jpg" class="img-responsive img-thumbnail" alt="..."></p>
					<p style="margin-top: 20px;"><img src="images/imgBanner-sidebar-02.jpg" class="img-responsive img-thumbnail" alt="..."></p>
                </aside>
            </div>
        </div>
    </section>
    <!--..::::::::::::::::::::================ FIN DE CONTACTO ================::::::::::::::::::::..-->
    
    <!--..::::::::::::::::::::================ INICIO VENTANA MODAL POLÍTICA DE PRIVACIDAD  ================::::::::::::::::::::..-->
    <div class="modal fade" id="modalPolitica-Privacidad">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h3 class="modal-title" id="myModalLabel">Política de Privacidad</h3>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
						<h5>Políticas de CarFlex</h5>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
						<p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</p>
                            <p>Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.</p>
                            <p> Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!--..::::::::::::::::::::================ FIN DE VENTANA MODAL POLÍTICA DE PRIVACIDAD ================::::::::::::::::::::..-->
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/combos")
    }

    <script type="text/javascript">
        $(document).ready(function(){
            $('#oficinaOrigeninconv').hide();
            $('#asuntoExperiencia').hide();
            $('#footerHome').hide();
            $('#footerSecciones').show();
            
            $("#btnExperiencia").click(function(){
                $('#oficinaOrigeninconv').show(); 
                $('#oficinaVisito').hide();
                $('#asuntoExperiencia').show();
                $('#asuntoSugerencia').hide();
                $('.formSugerenciaExp').attr('id','datosExperiencia');
                $('.tipo_Envio').attr('value','exp');
             });
            $("#btnSugerencia").click(function(){
                $('#oficinaVisito').show(); 
                $('#oficinaOrigeninconv').hide();
                $('#asuntoSugerencia').show();
                $('#asuntoExperiencia').hide();
                $('.formSugerenciaExp').attr('id','datosSugerencia');
                $('.tipo_Envio').attr('value','sug');
            });
            
            $('ul.menu-Modo-Contacto li a').click(
			function(e) {
				e.preventDefault();
				e.stopPropagation; 
				$(this).closest('ul').find('.active').removeClass('active');
				$(this).parent().addClass('active');
			});
            
            $("#datosSugerencia").validate({
                rules: {
                    Nombre: {
                        required: true,
                        minlength: 3
                    },
                    Ciudad: {
                        required: true,
                        minlength: 3
                    },
                    Apellido1: {
                        required: true,
                        minlength: 3
                    },
                    oficinaVisito: {
                        required: true
                    },
                    /*Apellido2: {
                        required: true,
                        minlength: 3
                    },*/
                    tipoAsunto: {
                        required: true
                    },
                    Lada:{
                        required: true
                    },
                    Phone: {
                        required: true
                    },
                    tipoTelefono: {
                        required: true
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                    Direccion:{
                        required: true
                    },
                    EmailConfirm:{
                        required: true,
                        equalTo: "#Email"
                    },
                    recaptcha_response_field:{
                        required: true
                    },
                    recaptcha_challenge_field:{
                        required: true,
                        equalTo: "#recaptcha_response_field"
                    },
                    Agree: "required"
                },
                messages: {
                    Nombre:"Favor de escribir su nombre(s)",
                    Ciudad:"Este campo es requerido",
                    Apellido1:"Favor de escribir su apellido paterno",
                    oficinaVisito:"Favor de seleccionar la oficina que visito",
                    //Apellido2:"Favor de escribir su apellido materno",
                    tipoAsunto:"Favor de seleccionar el asunto",
                    Lada:"Favor de proporcionar la lada",
                    Phone:"Favor de proporcionar su teléfono",
                    tipoTelefono:"Es necesario elegir el tipo de teléfono",
                    Email:"Favor de proporcionar su email",
                    Direccion:"Favor de proporcionar su direccion",
                    EmailConfirm:"Favor de confirmar su email",
                    recaptcha_response_field: "Es necesario escribir el Captcha",
                    recaptcha_challenge_field: "El Captcha escrito es incorrecto",
                    Agree: "Favor de aceptar las políticas de privacidad",
                }
            });
        });
		
	</script>
    <!--..::::::::::::::::::::================ SCRIPTS DE REDES SOCIALES ================::::::::::::::::::::..-->
    <script src="https://apis.google.com/js/platform.js" async defer>
        { lang: 'es-419' }
    </script>
    <script type="text/javascript">
        !function (d, s, id) {
            var js,
                fjs = d.getElementsByTagName(s)[0],
                p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + '://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }
        (document, 'script', 'twitter-wjs');
    </script>
    <script type="text/javascript">
        function renderPlusone() {
            gapi.plusone.render("plusone-div");
        };
        function renderIlike() {
            var element = document.createElement('script');
            element.type = "text/javascript";
            element.id = "facebook-jssdk"
            element.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(element, s);
        };
        window.onload = function () {
            renderPlusone();
            //renderIlike();
        };
        (function () {
            var element = document.createElement('script');
            element.type = "text/javascript";
            element.async = true;
            element.id = "facebook-jssdk"
            element.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(element, s);
        })();
    </script>


    <!--[if lt IE 9]>
        <script type="text/javascript">
            $( "<label>Nombre</label>" ).prependTo( ".addLabel01-ie" );
            $( "<label>Ciudad de donde nos contacta</label>" ).prependTo( ".addLabel02-ie" );
            $( "<label>Apellido paterno</label>" ).prependTo( ".addLabel03-ie" );
            $( "<label>Oficina Carflex</label>" ).prependTo( ".addLabel04-ie" );
            $( "<label>Apellido materno</label>" ).prependTo( ".addLabel05-ie" );
            $( "<label>Asunto</label>" ).prependTo( ".addLabel06-ie" );
            $( "<label>Lada</label>" ).prependTo( ".addLabel07-ie" );
            $( "<label>Teléfono</label>" ).prependTo( ".addLabel08-ie" );
            $( "<label>Tipo de Teléfono</label>" ).prependTo( ".addLabel09-ie" );
            $( "<label>Email</label>" ).prependTo( ".addLabel10-ie" );
            $( "<label>Dirección</label>" ).prependTo( ".addLabel11-ie" );
            $( "<label>Confirmar Email</label>" ).prependTo( ".addLabel12-ie" );
        </script>
    <![endif]-->
     


