﻿@{
    ViewBag.Title = "Cardex";
    ViewBag.Active2 = "active";
}

<!--..::::::::::::::::::::================ INICIO FORMULARIO HORIZONTAL ================::::::::::::::::::::..-->
<section class="form-Search">
    <div class="container">
        <div class="row" style="margin: 10px -15px !important; ">
            <form>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Localidad</label>
                        <select class="form-control">
                            <option>Todos</option>
                            <option>Test 01</option>
                            <option>Test 02</option>
                            <option>Test 03</option>
                            <option>Test 04</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Marca</label>
                        <select class="form-control">
                            <option>Todos</option>
                            <option>Test 01</option>
                            <option>Test 02</option>
                            <option>Test 03</option>
                            <option>Test 04</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Modelo</label>
                        <select class="form-control">
                            <option>Todos</option>
                            <option>Test 01</option>
                            <option>Test 02</option>
                            <option>Test 03</option>
                            <option>Test 04</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Precio</label>
                        <input type="text" class="form-control" placeholder="Precio">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>MVA</label>
                        <input type="text" class="form-control" placeholder="MVA">
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-block" style="margin: 20px 0px;">Buscar</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!--..::::::::::::::::::::================ FIN DE FORMULARIO HORIZONTAL ================::::::::::::::::::::..-->
<!--..::::::::::::::::::::================ INICIO DE CARNET ================::::::::::::::::::::..-->
<section class="carnet-Auto">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 style="margin-bottom: 0px;">CHEVROLET CHEVY 2012</h1>
                <h3 style="margin-top: 0px;">MVA: 2138938</h3>
            </div>
            <div class="col-md-6 text-right">
                <a class="btn btn-md btn-lg-shopping-cart" href="#" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Agregar al carrito</a>
            </div>
        </div>
        <hr>
        <div class="row">

            <div class="col-xs-12 col-sm-9">
                <div class="row">
                    <div class="col-md-7">
                        <div id="galeria-autos"><img src="images/auto-promo/img-auto-promo-01.jpg" class="thumbnail img-responsive" border="0" /></div>
                    </div>
                    <div class="col-md-5">
                        <div class="content-thumbs-galeria">
                            <a href="#" rel="../Images/auto-promo/img-auto-promo-01.jpg" class="image-galeria-autos"><img src="../Images/thumbnail/img-thumbnail-01.jpg" class="thumbnail img-responsive" border="0" /></a>
                            <a href="#" rel="../Images/auto-promo/img-auto-promo-02.jpg" class="image-galeria-autos"><img src="../Images/thumbnail/img-thumbnail-02.jpg" class="thumbnail img-responsive" border="0" /></a>
                            <a href="#" rel="../Images/auto-promo/img-auto-promo-03.jpg" class="image-galeria-autos"><img src="../Images/thumbnail/img-thumbnail-03.jpg" class="thumbnail img-responsive" border="0" /></a>
                            <a href="#" rel="../Images/auto-promo/img-auto-promo-04.jpg" class="image-galeria-autos"><img src="../Images/thumbnail/img-thumbnail-04.jpg" class="thumbnail img-responsive" border="0" /></a>
                            <a href="#" rel="../Images/auto-promo/img-auto-promo-05.jpg" class="image-galeria-autos"><img src="../Images/thumbnail/img-thumbnail-05.jpg" class="thumbnail img-responsive" border="0" /></a>
                            <a href="#" rel="../Images/auto-promo/img-auto-promo-06.jpg" class="image-galeria-autos"><img src="../Images/thumbnail/img-thumbnail-06.jpg" class="thumbnail img-responsive" border="0" /></a>
                            <a href="../Images/videos/video.html" class="image-galeria-videos-autos"><img src="../images/thumbnail/img-thumbnail-07.jpg" class="thumbnail img-responsive" border="0" /></a>
                            <a href="#" rel="../Images/auto-promo/img-auto-promo-05.jpg" class="image-galeria-autos"><img src="../Images/thumbnail/img-thumbnail-05.jpg" class="thumbnail img-responsive" border="0" /></a>
                            <a href="#" rel="../Images/auto-promo/img-auto-promo-06.jpg" class="image-galeria-autos"><img src="../Images/thumbnail/img-thumbnail-06.jpg" class="thumbnail img-responsive" border="0" /></a>
                            <a href="../Images/videos/video.html" class="image-galeria-videos-autos"><img src="../Images/thumbnail/img-thumbnail-07.jpg" class="thumbnail img-responsive" border="0" /></a>
                        </div>
                        <div class="ribbon-garantia">
                            <div class="content-ribbon-garantia text-right">
                                <div class="text-center text-ribbon-garantia"><p style="line-height:20px;color:#fff;">GARANTÍA CARFLEX</p><p style="line-height:10px;color:#fff;">12 meses / 12,000 Kms.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row caracteristicas-autos">
                    <div class="col-md-12">
                        <div class="titulo-caracteristicas" style="background: #ccc;padding: 10px 10px;margin-right:0px;">
                            <h4>Características</h4>
                        </div>
                    </div>
                    <span class="arrow-down"></span>
                </div>
                <div class="row content-section-garantias">
                    <div class="col-md-2 col-xs-2 border-section-garantias">
                        <p>Motor</p>
                        <h4>1.6 LTS</h4>
                    </div>
                    <div class="col-md-3  col-xs-3 border-section-garantias">
                        <p>Transmisión</p>
                        <h4>Automática</h4>
                    </div>
                    <div class="col-md-2  col-xs-2 border-section-garantias">
                        <p>Color externo</p>
                        <h4>Plata</h4>
                    </div>
                    <div class="col-md-3  col-xs-3 border-section-garantias">
                        <p>Vestiduras</p>
                        <h4>Negro, Tela</h4>
                    </div>
                    <div class="col-md-2  col-xs-2">
                        <p>Pasajeros</p>
                        <h4>5</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 caracteristicas-All">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="4"><h5><span class="icon-car"></span>BÁSICAS</h5></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><h4>Tamaño del motor</h4></td>
                                    <td>1.6 Lts.</td>
                                    <td><h4>Tipo de Carrocería</h4></td>
                                    <td>HATCHBACK</td>
                                </tr>
                                <tr>
                                    <td><h4>Cilindros</h4></td>
                                    <td>4</td>
                                    <td><h4>Control de Velocidad</h4></td>
                                    <td>Si</td>
                                </tr>
                                <tr>
                                    <td><h4>Dirección</h4></td>
                                    <td>Hidraulica</td>
                                    <td><h4>Quemacocos</h4></td>
                                    <td>No</td>
                                </tr>
                                <tr>
                                    <td><h4>Volante de posiciones</h4></td>
                                    <td>Si</td>
                                    <td><h4>Tipo de Rines</h4></td>
                                    <td>ACERO</td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th colspan="4"><h5><span class="icon-pasajeros"></span>CAPACIDAD</h5></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><h4>No. de Puertas</h4></td>
                                    <td>3</td>
                                    <td><h4>No. de Pasajeros</h4></td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td><h4>Capacidad de Gas</h4></td>
                                    <td>46 Lts.</td>
                                    <td><h4></h4></td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th colspan="4"><h5><span class="icon-seguridad"></span>SEGURIDAD</h5></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><h4>Frenos</h4></td>
                                    <td>ABS</td>
                                    <td><h4>No. de Bolsas de Aire</h4></td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td><h4>Bolsas de Aire</h4></td>
                                    <td>No</td>
                                    <td><h4>Faros de Niebla</h4></td>
                                    <td>No</td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th colspan="4"><h5><span class="fa fa-power-off"></span>AUDIO</h5></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><h4>Radio AM/FM</h4></td>
                                    <td>Si</td>
                                    <td><h4>No. de CD's</h4></td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td><h4>Tocacintas</h4></td>
                                    <td>No</td>
                                    <td><h4>Centro de entretenimiento</h4></td>
                                    <td>No</td>
                                </tr>
                                <tr>
                                    <td><h4>Estereo con CD</h4></td>
                                    <td>Si</td>
                                    <td><h4></h4></td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th colspan="4"><h5><span class="icon-block"></span>SEGUROS Y VIDRIOS</h5></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><h4>Asientos Eléctricos</h4></td>
                                    <td>Si</td>
                                    <td><h4>Control Tracción</h4></td>
                                    <td>Si</td>
                                </tr>
                                <tr>
                                    <td><h4>Elevadores Eléctricos</h4></td>
                                    <td>Si</td>
                                    <td><h4>Limpiador Trasero</h4></td>
                                    <td>Si</td>
                                </tr>
                                <tr>
                                    <td><h4>Seguros Eléctricos</h4></td>
                                    <td>Si</td>
                                    <td><h4>Desempañador Trasero</h4></td>
                                    <td>Si</td>
                                </tr>
                                <tr>
                                    <td><h4>Control Remoto Puertas</h4></td>
                                    <td>Si</td>
                                    <td><h4></h4></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a class="btn btn-md btn-lg-shopping-cart" href="#" role="button">¿Deseas más información?</a>
                    </div>
                </div>
            </div>
            <aside class="col-md-3 col-xs-12 sidebar-list" id="sidebar" role="navigation">
                <div class="content-precio-oferta">
                    <div class="title-precio-oferta"><h4><span class="fa fa-tag"></span> Precio en oferta</h4></div>
                    <div class="precio-ahorro">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Antes</p>
                            </div>
                            <div class="col-md-6 text-right">
                                <h5 class="text-decoration">$ 155,000</h5>
                            </div>
                        </div>
                        <div class="clearfix" style="height: 5px;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>Ahorra</p>
                            </div>
                            <div class="col-md-6 text-right">
                                <h5>$ 11,000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="precio-oferta">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-blanco">Hoy</p>
                            </div>
                            <div class="col-md-6 text-right">
                                <h5 class="text-decoration text-blanco">$ 134,000</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="list-group content-btn-financiamiento">
                    <a href="#" class="list-group-item text-blanco">Opciones de financiamiento <span class="fa fa-info-circle"></span></a>
                </div>
                <h5>Vehículos similares</h5>
                <table class="table autos-similares">
                    <tbody>
                        <tr>
                            <td class="col-md-4 text-left"><a href="car-Cardex.html"><img src="images/thumbnail/img-thumbnail-01.jpg" class="img-thumbnail" alt="Image 1"></a></td>
                            <td class="col-md-6 margen-td">
                                <h6><a href="car-Cardex.html">Chevrolet Chevy 2012</a></h6>
                                <p>$ 134,000 MXN</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4"><a href="car-Cardex.html"><img src="images/thumbnail/img-thumbnail-02.jpg" class="img-thumbnail" alt="Image 1"></a></td>
                            <td class="col-md-6 margen-td">
                                <h6><a href="car-Cardex.html">Chevrolet Chevy 2012</a></h6>
                                <p>$ 134,000 MXN</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4"><a href="car-Cardex.html"><img src="images/thumbnail/img-thumbnail-03.jpg" class="img-thumbnail" alt="Image 1"></a></td>
                            <td class="col-md-6 margen-td">
                                <h6><a href="car-Cardex.html">Chevrolet Chevy 2012</a></h6>
                                <p>$ 134,000 MXN</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="mapa-CarFlex">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3725.139986312857!2d-89.61974863558233!3d20.987024999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5143383f007ff64d!2sCarflex!5e0!3m2!1ses-419!2smx!4v1408054407651" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
                    <div class="list-group content-btn-financiamiento" style="margin-bottom:0px">
                        <a href="#" class="list-group-item text-blanco" style="margin-top:10px;">Cotizar traslado <span class="icon-sign"></span></a>
                    </div>
                </div>
                <p style="margin-top: 20px;"><img src="images/imgBanner-sidebar-01.jpg" class="img-responsive img-thumbnail" alt="..."></p>
                <p style="margin-top: 20px;"><img src="images/imgBanner-sidebar-02.jpg" class="img-responsive img-thumbnail" alt="..."></p>
            </aside>
        </div>
    </div>
</section>
<!--..::::::::::::::::::::================ FIN DE CARNET ================::::::::::::::::::::..-->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="myModalLabel">Garantía CarFlex</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        ...
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>¿Porque CarFlex es sinónimo de Confianza, Seguridad y Tranquilidad?</h5>
                        <p>CarFlex es el único comercializador de autos seminuevos que le ofrece una garantía mecánica en su compra, beneficio único en el mercado para la completa satisfacción de su compra, lo cual se traduce en confianza, seguridad pero sobre todo tranquilidad para usted, quien ve en su auto una inversión sólida y duradera</p>
                        <h5>¿Cuánto es el tiempo de duración de la Garantía CarFlex?</h5>
                        <p>En CarFlex le brindamos una garantía de 12 meses ó 12,000 kms - lo que ocurra primero -  de forma gratuita en la compra de cualquiera de nuestros vehículos. Esta garantía puede ser extendida a un año mas (24 meses ó 24,000 kms) adquiriendola por un costo extra dependiendo de la marca, modelo y año del auto que haya comprado con nosotros.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    /*	GALERIA DE AUTOS */
    $(function () {
        $(".image-galeria-autos").click(function () {
            var image = $(this).attr("rel");
            $('#galeria-autos').hide();
            $('#galeria-autos').fadeIn('slow');
            $('#galeria-autos').html('<img src="' + image + '" class="thumbnail img-responsive"/>');
            return false;
        });
    });
    $(document).ready(function () {
        $('#footerHome').hide();
        $('#footerSecciones').show();

        $("#mytooltip").tooltip();
        $(".tooltip-examples a").tooltip({
            placement: 'top'
        });

        $(".content-thumbs-galeria .image-galeria-videos-autos").each(function () {
            var href = $(this).attr("href");
            $(this).attr({ href: "#" });
            $(this).click(function () {
                $('#galeria-autos').hide();
                $('#galeria-autos').fadeIn('slow');
                $("#galeria-autos").load(href);
            });
        });

    });
</script>