﻿
@using Carflex.mx.Flota.Model;
@{
    ViewBag.Title = "CarFlex - Venta";
    ViewBag.Active2 = "active";
    var ls = (List<AutoVM>)ViewData["passedArray"];
}

    <!--..::::::::::::::::::::================ INICIO FORMULARIO HORIZONTAL ================::::::::::::::::::::..-->
    <section class="form-Search">
        <div class="container">
            <div class="row" style="margin: 10px -15px !important; ">
                <form role="form" class="col-md-12 rangoPrecioForm" action="" method="post" id="formulario">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Localidad</label>
                            @Html.DropDownList("localidades", ViewData["lslocalidades"] as List<SelectListItem>, new { @class = "form-control", @id = "LocalidadesID" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Marca</label>
                            @Html.DropDownList("marcas", ViewData["lsmarcas"] as List<SelectListItem>, new { @class = "form-control", @id = "MarcasID" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Modelo</label>
                            @Html.DropDownList("modelos", ViewData["lsmodelos"] as List<SelectListItem>, new { @class = "form-control", @id = "ModelosID" })

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Precio</label>
                            <input type="number" class="form-control" placeholder=@ViewData["precio"] name="slider-snap-value-lower1" step="0.01" min="0">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>MVA</label>
                            <input type="text" class="form-control" placeholder="@ViewData["mva"]" name="mva">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-block" style="margin: 20px 0px;" id="busca">Buscar</button>
                    </div>
                </form>
			</div>
		</div>
	</section>
    <!--..::::::::::::::::::::================ FIN DE FORMULARIO HORIZONTAL ================::::::::::::::::::::..-->
    
    <!--..::::::::::::::::::::================ INICIO VENTA ================::::::::::::::::::::..-->
<a href="" id="BuscarDetalle">load partial view</a>
<div id="DetallePedido">

</div>
<script type="text/javascript">

    $("#BuscarDetalle").click(function () {
        $("#DetallePedido").load('@Url.Action("detalleporid", "Venta")', { IdPedido: 1 })
    });

</script>
    <section id="VENTA" class="venta">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <ol class="breadcrumb">
                        <li><a href="#">Inicio</a></li>
                        @if (@ViewData["localidadmostrar"] != null)
                        {
                           <li id="1"><a href="#" class="lista-Modelos" id="1">@ViewData["localidadmostrar"]</a></li>
                        }
                        @if (@ViewData["marcamostrar"] != null)
                        {
                            <li id="2"><a href="#" class="lista-Modelos" id="2">@ViewData["marcamostrar"] Atitude</a></li>

                        }
                        @if (@ViewData["modelomostrar"] != "Todas")
                        {

                             <li class="active" id="4">@ViewData["modelomostrar"]</li>
                        }
                        
                        
                    </ol>
                </div>
                <div class="col-md-6 col-xs-6 text-right">
					<p style="padding-top: 9px;">1 - 50 de 135 <span>|</span> <a href="#" class="btn btn-xs"><span>A-Z</span><span class="fa fa-caret-down"></span></a></p>
				</div>
            </div>
            <hr>
            <div class="row">5
                <aside class="col-md-3 col-xs-12 sidebar-list">
                    <h4>Filtrado por:</h4>
					<div class="list-group listaflotante">
                        <a href="#" class="list-group-item lista-Modelos" id="modelomostrar"><span class="glyphicon glyphicon-remove pull-right"></span></a>
                        <a href="#" class="list-group-item lista-Modelos" id="marcamostrar"><span class="glyphicon glyphicon-remove pull-right"></span></a>
                        <a href="#" class="list-group-item lista-Modelos" id="localidadmostrar"><span class="glyphicon glyphicon-remove pull-right"></span></a>


                        @if (@ViewData["modelomostrar"] != "Todas")
                        {
                           
                            <a href="#" class="list-group-item lista-Modelos" id="modelomostrar">@ViewData["modelomostrar"]<span class="glyphicon glyphicon-remove pull-right"></span></a>

                        }
                        @if (@ViewData["mva"] != "")
                        {
                            <a href="#" class="list-group-item lista-Modelos" id="mva">@ViewData["mva"]<span class="glyphicon glyphicon-remove pull-right"></span></a>

                        }
                        
                        @if ((double)@ViewData["precio"] > 0)
                        {
                            <a href="#" class="list-group-item lista-Modelos" id="precio ">@ViewData["precio"]<span class="glyphicon glyphicon-remove pull-right"></span></a>

                        }
                        @if (@ViewData["marcamostrar"] != null)
                        {
                            <a href="#" class="list-group-item lista-Modelos" id="marcamostrar">@ViewData["marcamostrar"]<span class="glyphicon glyphicon-remove pull-right"></span></a>

                        }
                        @if (@ViewData["localidadmostrar"] != null)
                        {
                            <a href="#" class="list-group-item lista-Modelos" id="localidadmostrar">@ViewData["localidadmostrar"]<span class="glyphicon glyphicon-remove pull-right"></span></a>

                        }

					</div>
                    
                    <hr>
					<h4>Rango de precios:</h4>
					<p><a href="#">Hasta $ 50,000 (2)</a></p>
					<p><a href="#">Más de $ 50,000 (8)</a></p>
					<hr>
					<h4>Refinar:</h4>
					<p><a href="#">Rojo (4)</a></p>
					<p><a href="#">Azul (1)</a></p>
					<p><a href="#">Oferta (40)</a></p>
                    <p style="margin-top: 20px;"><img src="images/imgBanner-sidebar-01.jpg" class="img-responsive img-thumbnail" alt="..."></p>
                    <p style="margin-top: 20px;"><img src="images/imgBanner-sidebar-02.jpg" class="img-responsive img-thumbnail" alt="..."></p>
                </aside>
                <div class="col-md-9 col-xs-12">
                    <div class="row">
						<div class="col-md-6">
							<h4>Vehículos en promoción</h4>
						</div>
						<div class="col-md-6 text-right">
							<h4><a href="" class="btn-Normal">Ver más autos en promoción</a></h4>
						</div>
					</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="jcarousel-wrapper">
                                <div class="jcarousel">
                                    <ul>
                                        <li>
                                            <div class="jcarousel-content">
                                                <div class="ribbon-top text-center">AHORRA $ 4,000</div>
                                                <a href="#"><img src="images/auto-promo/img-auto-promo-01.jpg" alt="Image 1"></a>
                                                <h4><a href="#">Dodge Attitude</a></h4>
                                                <p>A, A/C - PLATA 2012</p>
                                                <p><del>$190,000</del></p>
                                                <h4 class="text-rojo">$156,000</h4>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="jcarousel-content">
                                                <div class="ribbon-top text-center">AHORRA $ 2,500</div>
                                                <a href="#"><img src="images/auto-promo/img-auto-promo-02.jpg" alt="Image 2"></a>
                                                <h4><a href="#">Dodge Attitude</a></h4>
                                                <p>A, A/C - AZUL 2012</p>
                                                <p><del>$190,000</del></p>
                                                <h4 class="text-rojo">$136,000</h4>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="jcarousel-content">
                                                <div class="ribbon-top text-center">AHORRA $ 11,000</div>
                                                <a href="#"><img src="images/auto-promo/img-auto-promo-03.jpg" alt="Image 3"></a>
                                                <h4><a href="#">Jeep Wrangler Rubicon</a></h4>
                                                <p>A, A/C - ROJO 2012</p>
                                                <p><del>$190,000</del></p>
                                                <h4 class="text-rojo">$185,000</h4>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="jcarousel-content">
                                                <div class="ribbon-top text-center">AHORRA $ 3,000</div>
                                                <a href="#"><img src="images/auto-promo/img-auto-promo-04.jpg" alt="Image 4"></a>
                                                <h4><a href="#">Dodge Attitude</a></h4>
                                                <p>A, A/C - BLANCO 2012</p>
                                                <p class="text-decoration">$190,000</p>
                                                <h4 class="text-rojo">$156,000</h4>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="jcarousel-content">
                                                <div class="ribbon-top text-center">AHORRA $ 5,500</div>
                                                <a href="#"><img src="images/auto-promo/img-auto-promo-05.jpg" alt="Image 5"></a>
                                                <h4><a href="#">Chevrolet Chevy Monza</a></h4>
                                                <p>A, A/C - PLATA 2010</p>
                                                <p class="text-decoration">$190,000</p>
                                                <h4 class="text-rojo">$156,000</h4>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="jcarousel-content">
                                                <div class="ribbon-top text-center">AHORRA $ 3,500</div>
                                                <a href="#"><img src="images/auto-promo/img-auto-promo-06.jpg" alt="Image 6"></a>
                                                <h4><a href="#">Chevrolet Cruze ECO</a></h4>
                                                <p>A, A/C - PLATA 2013</p>
                                                <p class="text-decoration">$190,000</p>
                                                <h4 class="text-rojo">$156,000</h4>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="jcarousel-content">
                                                <div class="ribbon-top text-center">AHORRA $ 6,000</div>
                                                <a href="#"><img src="images/auto-promo/img-auto-promo-07.jpg" alt="Image 7"></a>
                                                <h4><a href="#">Ford Focus Sedan</a></h4>
                                                <p>A, A/C - PLATA 2014</p>
                                                <p class="text-decoration">$190,000</p>
                                                <h4 class="text-rojo">$156,000</h4>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <a href="#" class="jcarousel-control-prev"><span class="fa fa-caret-left"></span></a>
                                <a href="#" class="jcarousel-control-next"><span class="fa fa-caret-right"></span></a>
                            </div>
						</div>
					</div>
                    <div class="row">
                        <div class="col-md-12 dataTables_paginate">
                            <table class="table table-hover" id="tablaProductos">
								<thead>
									<tr>
                                        <th></th>
										<th class="text-center"><h5 id="tooltipModelo" data-placement="top" title="MODELO">MODELOO</h5></th>
										<th class="text-center"><h5 id="tooltipAnio" data-toggle="tooltip" data-placement="top" title="AÑO">AÑO</h5></th>
										<th class="text-center"><h5 id="tooltipCiudad" data-toggle="tooltip" data-placement="top" title="CIUDAD">CIUDAD</h5></th>
										<th class="text-center"><h5 id="tooltipMva" data-toggle="tooltip" data-placement="top" title="Número de control">MVA</h5></th>
										<th class="text-center"><h5 id="tooltipPrecio" data-toggle="tooltip" data-placement="top" title="PRECIO">PRECIO</h5></th>
										<th colspan="2" class="text-center"></th>
									</tr>
								</thead>
                                <tbody class="tooltip-examples" id="tblDatos">

                                    @if (ls != null)
                                    {
                                        foreach (var ab in ls)
                                        {
                                            <tr>
                                                <td><a href="car-Cardex.html"><img src="" class="img-thumbnail" alt="Image 1"></a></td>
                                                <td>
                                                    <h4><a href="car-Cardex.html" title="Dodge Attitude">@ab.marca @ab.version</a></h4>
                                                    <p>blurrrrr</p>
                                                </td>
                                                <td class="text-center">añoo @ab.modelo</td>
                                                <td class="text-center">id ciudad  @ab.ciudadid</td>
                                                <td class="text-center">@ab.MVA</td>
                                                <td><h4 class="text-rojo">$156,000</h4></td>
                                                <td><a href="#" title="Añadir al carrito de compras"><span class="glyphicon glyphicon-shopping-cart"></span></a></td>
                                                <td><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></td>
                                            </tr>

                                        }
                                    }


                                </tbody>    
							</table>
							<ul class="pager">
							  <!--<li class="disabled"><a href="#"><span class="fa fa-chevron-left"></span><span class="fa fa-chevron-left"></span> Anterior</a></li>-->
							  <li><a href="#">Siguiente <span class="fa fa-chevron-right"></span><span class="fa fa-chevron-right"></span></a></li>
							</ul>
						</div>
					</div>
                </div>
            </div>
        </div>
    </section>
    <!--..::::::::::::::::::::================ FIN DE VENTA ================::::::::::::::::::::..-->
    
    @Scripts.Render("~/bundles/jcarousel")
@Scripts.Render("~/bundles/dataTables")
    <script src="~/Scripts/cargaVenta.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#footerHome').hide();
            $('#footerSecciones').show();

            

        });
    </script>