﻿@{

    ViewBag.Title = "CarFlex";
    ViewBag.Active1 = "active";
    var starBar = ViewBag.StartRangePrice;
    var endBar = ViewBag.EndingRangePrice;
    var step = ViewBag.StepRange;
    var handler1 = ViewBag.StartingHandle;
    var handler2 = ViewBag.EndingHandle;
}

    <script type="text/javascript">
        $(function () {

            $('#slider-snap').noUiSlider({

                start: [0, 2000],
                connect: true,
                step: 500,
                range: {
                    'min': 0,
                    'max': 80000

                }
            });
            $('#slider-snap').Link('lower').to($('#slider-snap-value-lower'));
            $('#slider-snap').Link('lower').to($('#slider-snap-value-lower1'));

            $('#slider-snap').Link('upper').to($('#slider-snap-value-upper'));
            $('#slider-snap').Link('upper').to($('#slider-snap-value-upper1'));
        });
    </script>
    <!--..::::::::::::::::::::================ INICIO CAROUSEL ================::::::::::::::::::::..-->
    <section id="myCarousel" class="carousel slide">
        <div class="carousel-social">
            <ul class="redes-sociales">
                <li><a href="#" class="fa fa-twitter" title="Twitter"></a></li>
                <li><a href="#" class="fa fa-facebook" title="Facebook"></a></li>
            </ul>
        </div>
        <div class="carousel-form col-md-3 col-sm-3 hidden-sm hidden-xs">
            <div class="carousel-form-title col-md-12">
                <h4 class="text-center">ENCUENTRA TU AUTO</h4>
            </div>

            <div id="regresarForm">

                <form role="form" class="col-md-12 rangoPrecioForm" action="Venta" method="post">
                    <div class="form-group">
                        <label>Localidad</label>
                        @Html.DropDownList("localidades", ViewData["lslocalidades"] as List<SelectListItem>, new { @class = "form-control", @id = "LocalidadesID" })
                    </div>
                    <div class="form-group">
                        <label>Marca</label>
                        @Html.DropDownList("marcas", ViewData["lsmarcas"] as List<SelectListItem>, new { @class = "form-control", @id = "MarcasID" })
                    </div>
                    <div class="form-group">
                        <label>Modelo</label>
                        <select class="form-control" id="ModelosID" name="modelos">
                            <option value="@ViewData["lsmodelos"]">Todas</option>
                        </select>
                    </div>  
                    <div class="form-group">
                        <div id="rangoPrecio-lg">
                            <label>Precio Máximo</label>
                            <div id="slider-snap" class="sliderPrice" style="margin:0px 15px;"></div>
                            <div class="rangoPrecio">
                                <div class="row">
                                    <div class="col-md-6">

                                        <input type="hidden" id="slider-snap-value-lower1" value="" name="slider-snap-value-lower1" />
                                        <span>Precio min: $</span><span id="slider-snap-value-lower"> </span>

                                    </div>
                                    <div class="col-md-6 text-right">
                                        <input type="hidden" id="slider-snap-value-upper1" value="" name="slider-snap-value-upper1" />
                                        <span>Precio max: $</span><span id="slider-snap-value-upper"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>MVA (Número de Auto)</label>
                        <input type="text" class="form-control" placeholder="@ViewData["mva"]" name="mva">
                    </div>
                    <div class="text-center" style="margin-top: 10px;"><button type="submit" class="btn btn-block" id="SEND">Buscar</button></div>
                </form>
            </div>
        </div>
        <div class="carousel-inner">
            <div class="item active" style="background: url(images/bg-slider-01.jpg) center top;">
                <div class="container">
                    <div class="row">
                        <a href="venta.html">
                            <div class="col-md-4 col-sm-6 col-xs-6 col-md-offset-4">
                                <div class="carousel-content">
                                    <h1>Dodge Attitude 2012</h1>
                                    <h3>GL Automático</h3>
                                    <h3 class="margin-slider">Ahora desde:</h3>
                                    <h1 class="price-promo-slider">$ 129,300</h1>
                                    <br />
                                    <img src="images/badge-Price.png">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-6 img-car">
                                <div class="carousel-content">
                                    <img src="images/cars/Bravo.png" class="img-responsive">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item" style="background: url(images/bg-slider-01.jpg) center top;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-6 col-md-offset-4">
                            <div class="carousel-content">
                                <h1>Dodge Attitude 2012</h1>
                                <h3>GL Automático</h3>
                                <h3 class="margin-slider">Ahora desde:</h3>
                                <h1 class="price-promo-slider">$ 129,300</h1>
                                <br />
                                <img src="images/badge-Price.png">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6 img-car">
                            <div class="carousel-content">
                                <img src="images/cars/clearcut.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="background: url(images/bg-slider-01.jpg) center top;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-6 col-md-offset-4">
                            <div class="carousel-content">
                                <h1>Dodge Attitude 2012</h1>
                                <h3>GL Automático</h3>
                                <h3 class="margin-slider">Ahora desde:</h3>
                                <h1 class="price-promo-slider">$ 129,300</h1>
                                <br />
                                <img src="images/badge-Price.png">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6 img-car">
                            <div class="carousel-content">
                                <img src="images/cars/toyota_PNG1938.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </section>
    <!--..::::::::::::::::::::================ FIN DE CAROUSEL ================::::::::::::::::::::..-->
    <!--..::::::::::::::::::::================ INICIO SERVICIOS ================::::::::::::::::::::..-->
    <section id="SERVICIOS">
        <div class="container servicios-home">
            <div class="row carousel-form-lg hidden-lg hidden-md">
                <div class="carousel-form-title col-md-12">
                    <h4 class="text-center">ENCUENTRA TU AUTO</h4>
                </div>
                <div id="traerForm" class="col-md-12">

                </div>
            </div>
            <div class="row servicios-home-estilos">
                <div class="col-md-3 col-sm-6 border-Der">
                    <div class="thumbnail">
                        <h4 class="text-center"><a href="">GARANTÍA CARFLEX</a></h4>
                        <a href=""><img src="images/img-garantias-01.jpg" class="img-thumbnail center-block" alt="..."></a>
                        <div class="caption">
                            <h5><a href="">12 meses/12,000 Kms</a></h5>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 border-Der">
                    <div class="thumbnail">
                        <h4 class="text-center"><a href="">FINANCIAMIENTO</a></h4>
                        <a href=""><img src="images/img-garantias-02.jpg" class="img-thumbnail center-block" alt="..."></a>
                        <div class="caption">
                            <h5><a href="">Los mejores planes</a></h5>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 border-Der">
                    <div class="thumbnail">
                        <h4 class="text-center"><a href="">AUTO SUSTITUTO</a></h4>
                        <a href=""><img src="images/img-garantias-03.jpg" class="img-thumbnail center-block" alt="..."></a>
                        <div class="caption">
                            <h5><a href="">No te quedes sin auto</a></h5>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <h4 class="text-center"><a href="">TRASLADOS</a></h4>
                        <a href=""><img src="images/img-garantias-04.jpg" class="img-thumbnail center-block" alt="..."></a>
                        <div class="caption">
                            <h5><a href="">Nosotros se lo llevamos</a></h5>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--..::::::::::::::::::::================ FIN DE SERVICIOS ================::::::::::::::::::::..-->
    <!--..::::::::::::::::::::================ INICIO PROMOCIONES ================::::::::::::::::::::..-->
    <section id="PROMOCIONES">
        <div class="container promociones-home">
            <div class="row promociones-home-estilos">
                <div class="col-md-6">
                    <h3>VEHICULOS EN PROMOCIÓN</h3>
                </div>
                <div class="col-md-6 text-right">
                    <div class="contacto-social">
                        <a href="#" class="btn-Normal" title="VER MÁS VEHICULOS">VER MÁS VEHICULOS</a>
                    </div>
                </div>
            </div>
            <div class="row promociones-home-estilos">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="thumbnail" style="padding: 0px;">
                        <a href="#"><img src="images/promo-autos/img-promo-autos-01.jpg" class="img-thumbnail" alt="..."></a>
                        <div class="estado-Promo enPromocion">
                            <h5 style="color: #fff;">EN PROMOCIÓN</h5>
                        </div>
                        <div class="caption">
                            <div class="modelo-Promo">
                                <h4><a href="#" title="CHEVROLET CHEVY 2012">CHEVROLET CHEVY 2012</a></h4>
                                <p>Manual-Cancún</p>
                            </div>
                            <div class="precios-Promo">
                                <p class="text-center"><del>$89,800</del></p>
                                <h4 class="text-center"><a href="#" class="promoPrecio">Ahora: $ 86,900</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="thumbnail" style="padding: 0px;">
                        <a href="#"><img src="images/promo-autos/img-promo-autos-02.jpg" class="img-thumbnail" alt="..."></a>
                        <div class="estado-Promo enRemate">
                            <h5 style="color: #fff;">EN REMATE</h5>
                        </div>
                        <div class="caption">
                            <div class="modelo-Promo">
                                <h4><a href="#" title="CHRYSLER TOWN & COUNTRY">CHRYSLER TOWN & COUNTRY</a></h4>
                                <p>Automático-Cd. de México</p>
                            </div>
                            <div class="precios-Promo">
                                <p class="text-center"><del>$ 224,900</del></p>
                                <h4 class="text-center"><a href="#" class="precioRemate">Ahora: $ 185,700</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="thumbnail" style="padding: 0px;">
                        <a href="#"><img src="images/promo-autos/img-promo-autos-03.jpg" class="img-thumbnail" alt="..."></a>
                        <div class="estado-Promo enPromocion">
                            <h5 style="color: #fff;">EN PROMOCIÓN</h5>
                        </div>
                        <div class="caption">
                            <div class="modelo-Promo">
                                <h4><a href="#" title="FORD EXPLORER 2010">FORD EXPLORER 2010</a></h4>
                                <p>Automático-Cancún</p>
                            </div>
                            <div class="precios-Promo">
                                <p class="text-center"><del>$ 210,900</del></p>
                                <h4 class="text-center"><a href="#" class="promoPrecio">Ahora: $ 206,900</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="thumbnail" style="padding: 0px;">
                        <a href="#"><img src="images/promo-autos/img-promo-autos-04.jpg" class="img-thumbnail" alt="..."></a>
                        <div class="estado-Promo enPromocion">
                            <h5 style="color: #fff;">EN PROMOCIÓN</h5>
                        </div>
                        <div class="caption">
                            <div class="modelo-Promo">
                                <h4><a href="#" title="FORD FOCUS 2012">FORD FOCUS 2012</a></h4>
                                <p>Automático-Cancún</p>
                            </div>
                            <div class="precios-Promo">
                                <p class="text-center"><del>$ 197,100</del></p>
                                <h4 class="text-center"><a href="#" class="promoPrecio">Ahora: $ 187,900</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--..::::::::::::::::::::================ FIN DE PROMOCIONES ================::::::::::::::::::::..-->
    @Scripts.Render("~/bundles/nouislider")
    <script src="../../Scripts/GetManufacturer.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#footerHome').show();
            $('#footerSecciones').hide();
        });
    </script>
<script type="text/javascript">
  /*  $(function() {
        $("#SEND").click(function() {
            var id = $("#LocalidadesID").val();
            var name = $("#LocalidadesID").val();
            var name2 = $("#LocalidadesID").val();
          
            updateResult(id, name, name2);
            return false;
        });
    });
    function updateResult(id, name, name2) {
        
        var url = "/Venta/Index/" + id + "?name=" + name + "?name2=" + name2;
        alert(url);
        load(url);
    }

    */
</script>